<h1>Welcome to travelPIN</h1>
<p class="headline">Every moment matters.</p>
<p class="subHead">KEEP SIMPLE TRACK OF YOUR TRAVELS WITH TRAVELPIN<p>
<br>
<nav>
	<ul>
    <li class="nav"><a href="/signup">Sign up</a> | </li>
    <li class="nav"><a href="/sessions/login">Login</a></li>

  	</ul>
</nav>