<p class="headline">Every moment matters.</p>
<p class="subHead">Start collecting precious pins simply with travelPIN!<p>
<br>
<nav>
	<ul>
    <li class="nav"><a href="/signup">Sign up</a> | </li>
    <li class="nav"><a href="/sessions/login">Login</a></li>

  	</ul>
</nav>