<div class="indexPage">
	<p class="headline">Every moment matters.</p>
	<p class="subHead" style="color:#ff6666">Start collecting precious pins simply with travelPIN!<p>
	<br>
	<br>
	<nav>
		<p><a href="#"> About </a> | </p>
	   	<p><a href="/signup">Sign up</a> | </p>
	   	<p><a href="/sessions/login">Login</a></p>
	</nav>
</div>