<h1>Welcome to {{title}}</h1>
<p class="headline">Every moment matters.</p>
<p class="subHead">KEEP SIMPLE TRACK OF YOUR TRAVELS WITH myTRACK<p>
<br>
<nav>
	<ul>
    <li class="nav"><a href="/signup">sign up</a> | </li>
    <li class="nav"><a href="/sessions/login">login</a></li>

  	</ul>
</nav>