<form action="/sessions/login" method="post">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password">
  </div>

  <input type="submit" value="Login">
</form>

<nav>
	<ul>
    <li class="nav">
      <a href="/signup">Signup</a> | 
    </li>
    <li class="nav">
       <a href="/">Return to Home</a>
    </li>
  	</ul>
</nav>

