<h1> Other users' pins</h1>
{{#each users}}
	<h2> {{users.travelCountry}} <h2>
		<div id="wrap">
   			{{!-- {{#each pins}}
   			<div class="box">
     			<div class="innerContent">
        			{{this.imgUrl}}
   			    </div>
    		</div>
    		{{/each}} --}}
    	</div>
{{/each}}