<div class="signUpTop" style="margin-top:50px">
  <div class="signupPage">
    <form action="/user" method="post">
      <div class="form-group">
        <label for="username">Name</label>
        <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Email Address">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="travelCountry">Where are you traveling to?</label>
        <input type="text" class="form-control" placeholder="City, Country">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-default" value="Sign me up now" style="margin-right:15px">
        <p style="display:inline"><a href="/">Return Home</a></p>
      </div>
    </form>
  </div>
</div>

