<form action="/user" method="post">
  <div>
    <label for="email">email</label>
    <input type="text" name="email">
  </div>
  <div>
  	<label for="username">username</label>
  	<input type="text" name="username">
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" name="password">
  </div>
  <div>
    <label for="travelCountry">Where are you traveling to?</label>
    <input type="text" name="travelCountry">
  </div>

  <input type="submit" value="Sign up">
</form>


<nav>
	<ul>
    <li class="nav">
      <a href="/">Return to Home</a>
    </li>
  </ul>
</nav>