<form action="/user" method="post">
  <div>
    <label for="email">email</label>
    <input type="text" name="email">
  </div>
  <div>
  	<label for="username">username</label>
  	<input type="text" name="username">
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" name="password">
  </div>
  <div>
    <label for="travelCountry">Where are you traveling to?</label>
    <input type="text" name="travelCountry">
  </div>

  <input type="submit" value="Sign up">

  <nav>
    <ul>
      <li class="nav">
        <a href="/sessions/login">Login</a> | 
      </li>
      <li class="nav">
        <a href="/">Return Home</a>
      </li>
    </ul>
  </nav>

</form>


