.headline {
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	font-size: 50px;
}

.subHead {
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
}

body {
text-align: center;
padding: 50px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li {
	list-style: none;
}

nav li {
  display: inline-block;
}

nav form {
  display: inline;
}

.userProfile {
	font-family: 'Work Sans', sans-serif;
}


.imgHolder {
	width: 500px;
	height: 300px;
	background-color: yellow;
}

#rwrap {
	overflow: hidden;
}

div.pinBox {
	width: 20%;
	padding-bottom: 20%;
	color: yellow;
	position: relative;
	float: left;
}

div.pinContent {
	position: absolute;
	left: 1px;
	right: 1px;
	top: 1px;
	bottom: 1px;
	background: red;
	padding: 10px;
}

/* TRACK DETAIL SHOW PAGE*/
.pinImage {
	background-color: yellow;
	width: 75%;
	padding-bottom: 45%;
	margin: 0 auto;
}

div.pinDetail {
	background-color: red;
	width: 75%;
	height: 300px;
	margin: 0 auto;
}

div.editDeleteBtn {
	float: right;
	margin: 1.5%;
}

button.editDelete {
	display: inline;
}

/**/