.headline {
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 50px;
}

.subHead {
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
}

body {
text-align: center;
padding: 50px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li {
	list-style: none;
}

nav li {
  display: inline-block;
}

nav form {
  display: inline;
}

.userProfile {
	font-family: 'Work Sans', sans-serif;
}


.imgHolder {
	width: 500px;
	height: 300px;
	background-color: yellow;
}

div.trackBoxHolder {
	position: relative;
	margin: 0 auto;
	width: 90%;
	padding-bottom: 100%;
	background-color: red;
}

.trackBox {
	background-color: yellow;
	position: relative;
	float: left;
	width: 30%;
	padding-bottom: 25%;
	margin: 1.6%;
}
 
.trackContent {
	background-color: black;
	position: relative;
	width: 100%;
	height: 30%;
	margin: none;
}