.headline {
	font-family: 'Lora', serif;
	font-weight: bold;
	font-size: 50px;
}

.subHead {
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
}

body {
text-align: center;
padding: 50px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav li {
  display: inline-block;
}

nav form {
  display: inline;
}

